{% extends 'home.html' %}
{% block content %}
    <div class="panel-body panel-success">修改书籍</div>
        <div class="panel-footer">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <form action=""  method="post">
                            name: <input type="text" class="form-control" name="name" value="{{ edit_obj.name }}">
                            price: <input type="text" class="form-control" name="price" value="{{ edit_obj.price }}">
                            author: <select name="author" id="" multiple class="form-control" name="author" >
                                        {% for author_obj in all_author_obj %}
                                            {% if author_obj in edit_obj.author.all %}
                                                <option value="{{ author_obj.id }}" selected>{{ author_obj.name }}</option>
                                            {% else %}
                                                <option value="{{ author_obj.id }}">{{ author_obj.name }}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                            publish: <select name="publish" id="" class="form-control" name="publish">
                                            {% for publish_obj in all_publish_obj %}
                                                {% if publish_obj == edit_obj.publish %}
                                                        <option value="{{publish_obj.id }}" selected>{{ publish_obj.name }}</option>
                                                {% else %}
                                                        <option value="{{publish_obj.id }}">{{ publish_obj.name }}</option>
                                                {% endif %}
                                            {% endfor %}
                                     </select>
                            publish_time: <input type="date" class="form-control" name="publish_time" value="{{ edit_obj.publish_time|date:'Y-m-d' }}">
                            <br>
                            <input type="submit" value="修改" class="btn btn-info">
                        </form>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}